<section id="container">
    <div ng-include src="'views/includes/header.html'"></div>
    <section id="main-content" class="box-shipment">
        <section class="wrapper vital-signs-wrap">
            <h2>Films</h2>
            <div ng-if="meta.total == 0" class="">
                No Request Found
            </div>
            <div ng-if="meta.total > 0" ng-include src="'views/film/film-item.html'" ng-repeat="film in films" class="ship-box"></div>
            <div ng-include src="'views/includes/pagination-template.html'"></div>
        </section>
    </section>

    <div ng-include src="'views/includes/footer.html'"></div>
</section>