<section id="container">
    <div ng-include src="'views/includes/header.html'"></div>

    <section id="main-content">

        <section class="wrapper vital-signs-wrap box-shipment">

            <h2>Comment</h2>

            <div class="col-md-12 ship-box">


                <form id="film-form">
                    <input type="text" ng-model="params.name" class="form-control validate[required]" placeholder="Name">
                    <textarea type="text" ng-model="params.comment" class="form-control validate[required]" placeholder="Description">
                            
                    </textarea>
                    <button class="btn btn-lg btn-login btn-block" ng-click="submit(params)" type="submit">Save</button>
                </form>

            </div>



        </section>
    </section>

    <div ng-include src="'views/includes/footer.html'"></div>
</section>
<!-- Modal -->

