<section id="container">
    <div ng-include src="'views/includes/header.html'"></div>

    <section id="main-content">

        <section class="wrapper vital-signs-wrap box-shipment">

            <h2>Film: {{ detail.name}}</h2>

            <div class="col-md-12 ship-box">

                <ul>
                    <li>
                        <img style="float: left; margin-right: 15px; margin-bottom: 15px;" width="100" src="{{ detail.photo}}">
                        <p>Release Date: {{ detail.release_date}}</p>
                        <p>Price: {{ detail.price}}</p>
                        <p>Rating {{ detail.rating}}</p>
                        <p>Country {{ detail.country}}</p>
                        <p ng-repeat="genre in detail.genres">{{ genre.name}},</p>


                    </li>
                    <div class="clear"></div>
                </ul>

                <h4>Description</h4>
                <p>{{ detail.description}}</p>
            </div>

            <div ng-repeat="comment in detail.comments" class="col-md-12 ship-box">
                <ul>
                    <li>
                        <p>{{ comment.comment}}<br>@{{ comment.ago}}</p>
                        <!--                        <p>By: {{ comment.commenter }}</p>-->
                    </li>
                </ul>
            </div>

            <a style="background: #000; padding: 10px; display: block; color: #fff" href="#/post-comment/{{ detail.id}}">Comment</a>
        </section>

    </section>

    <div ng-include src="'views/includes/footer.html'"></div>
</section>