<a href="#/films/{{ film.slug }}">
    <div class="col-md-12 no-pad arr-back">
        <div class="col-md-12">
            <ul>
                <li>
                    <h3>{{ film.name}}</h3>
                    <p>Release Date: {{ film.release_date}}</p>
                    <p>Price: {{ film.price}}</p>
                    <p>Rating {{ film.rating}}</p>
                </li>
            </ul>
        </div>

    </div>
</a>