<section id="container">
    <div ng-include src="'views/includes/header.html'"></div>

    <section id="main-content">

        <section class="wrapper vital-signs-wrap box-shipment">

            <h2>New Film</h2>

            <div class="col-md-12 ship-box">


                <form id="film-form"  enctype="multipart/form-data">
                    <input type="text" ng-model="params.name" class="form-control validate[required]" placeholder="Name">
                    <input type="number" ng-model="params.price" class="form-control validate[required]" placeholder="Price">
                    <input type="text" ng-model="params.country" class="form-control validate[required]" placeholder="Country">
                    <input type="number" ng-model="params.rating" class="form-control validate[required]" placeholder="Rating">
                    <input type="date" value="2017-11-01" ng-model="params.release_date" class="form-control validate[required]" placeholder="Release Date">
                    <input type="file" accept="image" ng-model="params.photo">
                    <textarea type="text" ng-model="params.description" class="form-control validate[required]" placeholder="Description">
                            
                    </textarea>
                    <button class="btn btn-lg btn-login btn-block" ng-click="submit(params)" type="submit">Save</button>
                </form>

            </div>



        </section>
    </section>

    <div ng-include src="'views/includes/footer.html'"></div>
</section>
<!-- Modal -->

