<!--<div class="content">
  <ul class="list-group list-group-table" pull-to-refresh="onReload()">
    <li class="list-group-item" ng-repeat="state in states" ng-bind="state"></li>
  </ul>
</div>-->
<section id="container" class="">
    <div ng-include src="'views/includes/header.html'"></div>
    <section id="main-content">
        <section class="wrapper vital-signs-wrap">
            <div id="shipper-container" ng-include src="'views/home/shipper-home.html'" ng-if="getRole() == 0"></div>
            <div id="carrier-container" ng-include src="'views/home/carrier-home.html'" ng-if="getRole() == 1"></div>
        </section>
    </section>

    <div ng-include src="'views/includes/footer.html'"></div>
</section>
