
<!--<div ng-init="geolocate('start')" id="locationField">
    <input  placeholder="Enter your address"  type="text"></input>
    <input  placeholder="Enter your address"  type="text"></input>
</div>-->




<div ng-init="initMap()" id="map"></div>
<form id="reqiest-form">
    <div class="Estimated-div">
        <p>Distance <span id="distance">160KM</span></p>
        <p>Estimated Time <span id="esTime">160KM</span></p>
        <button class="full-btn" ng-click="submit(params)" type="submit">Send Request</button>
    </div>
    <div class="left-box">
    <div class="row">
        <div ng-include src="'views/includes/alert-template.html'"></div>
        <div class="col-md-12">
            <div class="box-div">
                <h1>Origin</h1>
                <div class="row">
                    <div class="col-md-4 mar-bot"><input id="start"  ng-focus="geolocate('start')" type="text" ng-model="params.origin_location_name" class="form-control validate[required]" placeholder="Location"></div>
                    <div class="col-md-4 mar-bot"><input type="text" ng-model="params.origin_address" class="form-control validate[required]" placeholder="Address"></div>
                    <div class="col-md-4 mar-bot"><input type="text" ng-model="params.origin_suite" class="form-control validate[required]" placeholder="Suite"></div>
                    <div class="col-md-4"><input type="text" ng-model="params.origin_contact_name" class="form-control validate[required]" placeholder="Name"></div>
                    <div class="col-md-4"><input type="text" ng-model="params.origin_phone" class="form-control validate[required]" placeholder="Phone"></div>
                    <div class="col-md-4"><input type="text" ng-model="params.origin_email" class="form-control validate[required,custom[email]]" placeholder="E-Mail"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box-div">
                <h1>Destination</h1>
                <div class="row">
                    <div class="col-md-4 mar-bot"><input id="end" ng-focus="geolocate('end')" type="text" ng-model="params.destination_location_name" class="form-control validate[required]" placeholder="Location"></div>
                    <div class="col-md-4 mar-bot"><input type="text" ng-model="params.destination_address" class="form-control validate[required]" placeholder="Address"></div>
                    <div class="col-md-4 mar-bot"><input type="text" ng-model="params.destination_suite" class="form-control validate[required]" placeholder="Suite"></div>
                    <div class="col-md-4"><input type="text" ng-model="params.destination_contact_name" class="form-control validate[required]" placeholder="Name"></div>
                    <div class="col-md-4"><input type="text" ng-model="params.destination_phone" class="form-control validate[required]" placeholder="Phone"></div>
                    <div class="col-md-4"><input type="text" ng-model="params.destination_email" class="form-control validate[required,custom[email]]" placeholder="E-Mail"></div> 
                </div>  
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box-div">
                <h1>Shippment Info</h1>
                <div class="row">
                    <div class="col-md-3"><input type="text" ng-model="params.weight" class="form-control" placeholder="Weight"></div>
                    <div class="col-md-3"><input type="text" ng-model="params.ref_num" class="form-control" placeholder="Ref Number"></div>
                    <div class="col-md-3"><input type="text" ng-model="params.mo_num" class="form-control" placeholder="Mo Number"></div>
                    <div class="col-md-3"><input type="text" ng-model="params.hawb_num" class="form-control" placeholder="Hawb Number"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box-div">
                <h1>Load Types</h1>
                <div ng-repeat="loadType in loadTypes" class="bg-scp">
                    <label>
                        {{ loadType.name}}
                    </label>
                    <div class="row">
                        <div class="col-md-2">
                            <input type="text" ng-model="params.load_type[loadType.id]['quantity']" placeholder="Quantity" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <input type="text" ng-model="params.load_type[loadType.id]['width']" placeholder="Width" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <input type="text" ng-model="params.load_type[loadType.id]['hight']" placeholder="Hight" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <input type="text" ng-model="params.load_type[loadType.id]['length']" placeholder="Length" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <select ng-model="params.load_type[loadType.id]['unit']" class="form-control">
                                <option selected="selected" value="in">in</option>
                                <option value="cm">cm</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box-div">
                <h1>Pickup Information</h1>
                <div class="row">
                    <div class="col-md-4"><input type="text" ng-model="params.pickup_date" class="form-control validate[required]" placeholder="Pickup Date"></div>
                    <div class="col-md-4"><input type="text" ng-model="params.ready_time" class="form-control validate[required]" placeholder="Ready Time"></div>
                    <div class="col-md-4"><input type="text" ng-model="params.cutoff_time" class="form-control validate[required]" placeholder="Cutoff Time"></div>
                </div>
            </div> 
        </div>
        <div class="col-md-12">
            <div class="box-div">
                <h1>Delivery Information</h1>
                <div class="row">
                    <div class="col-md-4"><input type="text" ng-model="params.delivery_date" class="form-control validate[required]" placeholder="Delivery date"></div>
                    <div class="col-md-4"><input type="text" ng-model="params.deliver_after" class="form-control validate[required]" placeholder="Deliver after"></div>
                    <div class="col-md-4"><input type="text" ng-model="params.deliver_cutoff_time" class="form-control validate[required]" placeholder="Deliver cutoff time"></div>
                </div>
            </div> 
        </div>
    </div>
    </div>
</form>
