@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'DIN-Regular';
	src: url('fonts/dinregular.eot');
	src: url('fonts/dinregular.svg#dinregular') format('svg'),
	     url('fonts/dinregular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/dinregular.woff') format('woff'),
		 url('fonts/dinregular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN-Bold';
	src: url('fonts/dinbold.eot');
	src: url('fonts/dinbold.svg#dinbold') format('svg'),
		 url('fonts/dinbold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/dinbold.woff') format('woff'),
		 url('fonts/dinbold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('fonts/helveticaneue.eot');
	src: url('fonts/helveticaneue.svg#helveticaneue') format('svg'),
		 url('fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
		 url('fonts/helveticaneue.woff') format('woff'),
		 url('fonts/helveticaneue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.landing-page h1, .login-page h1, .details h1, .orange_btn, .jobs_wrap> h3,
.nav li a.active, .nav li a.active, .innerDiv h3, .innerDiv p span, .policy-list li h5{
	font-family: 'DIN-Bold';
	}
{font-family: 'HelveticaNeue-Bold';}	
.pull-left{ float:left;}
.pull-right{ float:right;}

.input-wrap span, .crossbtn, .refresh_icon, .back-btn,
.right_arrow{ background:url(../images/sprite.png) no-repeat;}

body{background:#f9f9f9; font-family: 'DIN-Regular';}
html,body{width:100%; height:100%;}
.mainWrap{
	width:100%;
	height:100%;
	background:url(../images/bg.jpg) no-repeat top center;
	background-size:cover;
	}
.main-body{
	min-height:100%;
	margin-bottom:-40px;
	}
.main-body:after{
	display:block;
	content:'';
	height:35px;
	}
.landing-page{
	padding:82px 0 0 10px;
	}
.landing-page h1{
	color:#FFF;
	font-size:32px;
	line-height:34px;
	text-transform:uppercase;
	margin-bottom:10px;
	text-align:left;
	}
.landing-page p{
	color:#FFF;
	font-size:16px;
	line-height:20px;
	}
.content{
	position:relative;
	margin:0 auto;
	width:100%;
	max-width:650px;
	}
.login-page{
	position:relative;
	color:#FFF;
	padding:30px 15px 0;
	}
.login-page p{
	font-size:14px;
	margin-bottom:25px;
	}
.login-page h1{
	text-align:left;
	font-size:22px;
	margin-bottom:15px;
	text-transform:uppercase;
	}
.input-wrap{
	position:relative;
	width:100%;
	margin-bottom:10px;
	background:rgba(0,0,0,.4)
	}
.input-wrap input, .input-wrap input[type=password]{
	position:relative;
	font-size:14px;
	color:#cccccc;
	padding:0 10px 0 52px;
	width:81%;
	height:40px;
	border:none;
	border-radius:0;
	background:none;
	}
.input-wrap span{
	position:absolute;
	left: 25px;
	top: 14px;
	z-index:9;
	width:18px;
	height:12px;
	background-position:0 0;
	background-size: 120px;
	}
.input-wrap span.pass{ 
	background-position: 0 -14px;
	height: 18px;
	top: 11px;
	}
body.login .main-body{
	background:rgba(0,0,0,.2);
	}
.sign-in-btn{
	background:rgba(255,140,0,0.9);
	margin:10px 0 20px;
	display:block;
	width:100%;
	height:50px;
	text-align:center;
	color:#FFF;
	font-size:17px;
	text-decoration:none;
/*	line-height:50px; */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
	}
.sign-in-btn > div, .sign-in > div, .confirmed >div, .accept_it > div, .decline > div, .accept_btn >div{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:table;
	}
.sign-in-btn > div span, .sign-in > div span, .confirmed >div span, .accept_it > div span, .decline > div span, .accept_btn >div span{
	width:100%;
	text-align:center;
	vertical-align:middle;
	display:table-cell;
	}
.links{
	font-size:12px;
	}
.links a{
	color:#FFF;
	text-decoration:none;
	padding:0 5px;
	}
.crossbtn{
	position:absolute;
	top:30px;
	right:15px;
	width:12px;
	height:12px;
	background-position: -19px 0;
	background-size: 120px;
	}
.header_top{
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	width:100%;
	height:auto;
	border-bottom:1px solid #e7e7e7;
	background:#FFF;
	}
.header_inner{
	position:relative;
	padding:20px;
	min-height:18px;
	text-align:center;
	}
.header_inner p{
	font-size:16px;
	color:#666666;
	padding:0 35px 0 32px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	}
.back-btn{
	position:absolute;
	left:20px;
	top:17px;
	width: 17px;
	height: 25px;
	background-position: 0 -36px;
	background-size: 120px;
	}	
.menu{
	position:absolute;
	top:20px;
	left:20px;
	display:block;
	width:22px;
	height:auto;
	}
.menu span{
	display:block;
	float:left;
	width:100%;
	height:3px;
	margin-bottom:3px;
	background:#cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
.menu span:last-child{ margin-bottom:0;}
.refresh_icon{
	display:block;
	position:absolute;
	top:20px;
	right:20px;
	width:20px;
	height:20px;
	background-position: -38px 0;
	background-size: 138px;	
	}
.container{
	width:100%;
	}
.row{
	padding:0 20px;
	}
.job_tems{
	width:100%;
	background:#FFF;
	border-top:1px solid #e5e5e5;
	}
.job_tems li{
	overflow:hidden;
	border-bottom:1px solid #e5e5e5;
	position:relative;
	padding:15px 20px;
	cursor:pointer;
	}

.image_box{
	width:55px;
	height:55px;
	overflow:hidden;
	background:#cccccc;
	margin-right:15px;
	}
.image_box img{
	width:100%;
	height:auto;
	}
.right_arrow{
	position:absolute;
	right:20px;
	top:34px;
	width:10px;
	height:14px;
	display:block;
	background-position: -57px 0;
	background-size: 125px;
	}
.details{
	text-overflow: ellipsis;
	overflow: hidden;
/*	white-space: nowrap; */
	padding-right:22px;
	float:left;
	width:65%;
	}
.details h1{
	font-size:14px;
	color:#222222;
	line-height:16px;
/*	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
*/	padding-right:10px;
	text-align: left;
	}
.post_date{
	position:absolute;
	top:15px;
	right:20px;
	color:#858585;
	font-size:10px;
	line-height:12px;
	}
.orange_btn{
	position:relative;
	text-align:center;
	display:block;
	color:#FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#ff9719;
	text-decoration:none;
	}
.orange_btn.disable{
	background:#c2c2c2;
	color:#666666;
	cursor:default;
	}	
.accept_btn{
	position:relative;
	margin:2px 0 3px;
	font-size:14px;
	height:22px;
/*	line-height:22px;  */
	width:100px;
	text-decoration:none;
	}
.location{
	position:relative;
	color:#858585;
	font-size:10px;
	line-height:12px;
	padding-left:12px;
	line-height: 20px;
	}
.location.link{ color:#ff9719}	
.location:before{
	content:'';
	position:absolute;
	left:0;
	top:2px;
	width:10px;
	height:10px;
	background: url(../images/sprite.png) no-repeat -68px 0px;
	background-size: 130px;
	}
.job_tems li.li-bg{
	background:red;
	-webkit-animation: Trans 5s;
	animation: Trans 5s;
}
.li-bg-2{
	background:#b6b6b6;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/*		
@webkit-keyframes Trans{
	from {background: red;}
    to {background: yellow;}
}
*/
.jobs_wrap> h3{
	font-size:14px;
	line-height:18px;
	color:#ff9719;
	text-transform:uppercase;
	padding:20px 20px;
	margin:0;
	}
.confirmed{
	position:relative;
	width:90px;
/*	padding-left:10px; */
	position:relative;
	background:#FFF;
	border:1px solid #ff9719;
	color:#ff9719;
	}
.Confirm{ background:#ff9719 !important; color:#fff !important;}
.Open{ background:#55a6c2 !important; border:1px solid #55a6c2 !important; color:#fff !important;}
.Applied{ background:#cccccc !important; color:#fff !important;  border:1px solid #cccccc !important;}
.Hired{ background:#fff !important; color:#ff8c00 !important;  border:1px solid #ff8c00 !important;}
.Declined, .Closed{ background:#cccccc !important; color:#fff !important;  border:1px solid #cccccc !important;}

.confirmed:before{
	content: '';
	position: absolute;
	left: 10px;
	top: 7px;
	width: 9px;
	height: 9px;
	/*background: url(../images/sprite.png) no-repeat -99px 0;*/
	background-size: 150px;
	}
.jobs_wrap{
	float:left;
	margin-top:58px; 
	}
.loader{
	width:100%;
	padding:25px 0;
	}
.loader img{
	width:22px;
	height:22px;
	margin:0 auto;
	display:block;
	}
.navigation{
	padding:30px 0 0 20px;
	width:200px;
	height:100%;
	position:fixed;
	z-index:9999;
	background:#333;
	color:#FFF;
	}
.navigation p{
	font-size:14px;
	}
.nav{
	width:100%;
	padding-top:40px;
	}
.nav >li {
	margin-bottom:22px;
	}
.nav >li a{
	position:relative;
	font-size:18px;
	color:#FFF;
	text-decoration:none;
	}
/*	
.nav >li a.Help:after{
	content:'';
	position:absolute;
	right:-15px;
	top:50%;
	width:0;
	height:0;
	border-top:5px solid #fff;
	border-right:5px solid transparent;
	border-left:5px solid transparent;
	}
.nav >li a.Help.visible:after{border-bottom:5px solid #fff;border-top:none;}
*/
.nav >li a.active{
	color:#ff8c00;
	}
.DropDown{ display:none;}	
.nav >li ul {
	padding:20px 0 0 10px;
	}
.nav >li ul li:not(:last-child){
	margin-bottom:10px;
	}
.nav >li ul li a{
	font-size:16px;
	}







.job_tems li.disable{
	background:#666666;
	}
.job_tems li.disable .details h1, .job_tems li.disable .location{
	color:#FFF;
	}
.job_tems li.disable .location:before{
	background-position:-77px 0px;
	}

.job_tems li.disable .post_date{
	color:#FFF;
	}



.section_div{
	margin:20px 0;
	border-top:1px solid #efefef;
	border-bottom:1px solid #efefef;
	}
.innerDiv{
	background: #fff;
	padding:15px 20px;
	}
.innerDiv h3{
	font-size:14px;
	line-height:16px;
	margin: 0 0 10px;
	}
.innerDiv p{
	font-size:14px;
	line-height:22px;
	color:#666666;
	text-transform:inherit;
	}
.innerDiv p span{
	}
.accept_it, .decline{
	position:relative;
	margin:5px 0;
	font-family: 'DIN-Regular';
	/*line-height:52px;*/
	height:52px;
	font-weight:normal;
	}
.decline{
	background:#d1d1d1;
	}
footer{
	float:left;
	width:100%;
	padding:30px 0 10px;
	background:#cccccc
	}
.footer-links{
	padding:0 20px;
	}
.footer-links li{
	float:left;
	width:100%;
	margin-bottom:10px;
	}
.footer-links li a, .footer-links li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	}
.footer-links li p{ padding:40px 0 15px; color:#666666; font-size:12px;}	
.footer-links li a:focus, .footer-links li a:hover{text-decoration:none;}
.mixPanal{ 
	display:block;
	background:url(../images/mixpanal.png) no-repeat;
	width:100px;
	height:32px;
	background-size:100%;
	}
.policyWrap{
	padding:0 15px;
	}
.policy-list li h5{
	font-size:14px;
	padding-top:10px;
	}
.policy-list li.RemoveMargin h5{ margin-bottom:0}
.policy-list li{
	font-size:14px;
	}
.policy-list li p{ margin-bottom:15px;}
.policy-list li ul li{ padding-left:15px; list-style:inside;}
.policy-list li ul.alphaB{ padding-left:20px;}
.policy-list li ul.alphaB li{ list-style:lower-alpha; padding-left:0;}
.policy-list li a{ color:#f18705}
.loader_wrap{
	margin:0 auto;
	width:256px;
	height:20px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-10px 0 0 -128px;
	}

.spinner-container-wrap{
	position:fixed;
	z-index: 99999;
	left:0;
	top:0;
	z-index:9;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6);
	}
#followingBallsG{
	position:relative;
	width:200px;
	height:20px;
}

.followingBallsG{
	background-color:#FF7700;
	position:absolute;
	top:0;
	left:0;
	width:20px;
	height:20px;
	-moz-border-radius:10px;
	-moz-animation-name:bounce_followingBallsG;
	-moz-animation-duration:1.3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:10px;
	-webkit-animation-name:bounce_followingBallsG;
	-webkit-animation-duration:1.3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:10px;
	-ms-animation-name:bounce_followingBallsG;
	-ms-animation-duration:1.3s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:10px;
	-o-animation-name:bounce_followingBallsG;
	-o-animation-duration:1.3s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:10px;
	animation-name:bounce_followingBallsG;
	animation-duration:1.3s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

#followingBallsG_1{-moz-animation-delay:0s;}
#followingBallsG_1{	-webkit-animation-delay:0s;}
#followingBallsG_1{	-ms-animation-delay:0s;}
#followingBallsG_1{	-o-animation-delay:0s;}
#followingBallsG_1{	animation-delay:0s;}

#followingBallsG_2{
	-moz-animation-delay:0.13s;
	-webkit-animation-delay:0.13s;
	-ms-animation-delay:0.13s;
	-o-animation-delay:0.13s;
	animation-delay:0.13s;
}

#followingBallsG_3{
	-moz-animation-delay:0.26s;
	-webkit-animation-delay:0.26s;
	-ms-animation-delay:0.26s;
	-o-animation-delay:0.26s;
	animation-delay:0.26s;
}

#followingBallsG_4{
	-moz-animation-delay:0.39s;
	-webkit-animation-delay:0.39s;
	-ms-animation-delay:0.39s;
	-o-animation-delay:0.39s;
	animation-delay:0.39s;
}

@-moz-keyframes bounce_followingBallsG{
	0%{	left:0px;background-color:#fff;}
	50%{left:200px; background-color:#fff;}
	100%{left:0px;background-color:#fff;}
}

@-webkit-keyframes bounce_followingBallsG{
	0%{	left:0px;background-color:#fff;}
	50%{left:200px; background-color:#fff;}
	100%{left:0px;background-color:#fff;}
}

@-ms-keyframes bounce_followingBallsG{
	0%{	left:0px;background-color:#fff;}
	50%{left:200px; background-color:#fff;}
	100%{left:0px;background-color:#fff;}
}

@-o-keyframes bounce_followingBallsG{
	0%{	left:0px;background-color:#fff;}
	50%{left:200px; background-color:#fff;}
	100%{left:0px;background-color:#fff;}
}

@keyframes bounce_followingBallsG{
	0%{	left:0px;background-color:#fff;}
	50%{left:200px; background-color:#fff;}
	100%{left:0px;background-color:#fff;}
}
/*Loader  1 nend*/


/* footer */
.footer{width:100%; text-align:center; padding:0;}
.sign-in{
	position:relative;
	font-size:14px;
	display:block;
	color:#FFF;
	text-decoration:none;
/*	line-height:40px; */
	width:100%;
	height:40px;
	background:rgba(255,140,0,.8);
	}
.clearfix{
	clear:both;
	}

	.spinner-container-wrap{
	position:fixed;
	left:0;
	top:0;
	z-index:99999;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6);
	}

.spinner-container{
	position:absolute;
	left:50%;
	top:50%;
	width:240px;
	height:20px;
	margin:-10px 0 0 -110px;
	}

body,html{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-o-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
	}
.locationTable tr > td:first-child{ width:9px; vertical-align:top}
.locationTable tr > td:first-child img{ width:8px; height:12px;}


.locationTable tr > td.location-text{ 	
	position: relative;
	color: #858585;
	font-size: 10px;
	line-height: 12px;
	padding-left: 3px;
}

.locationTable tr > td.location-text a{ 	
	color: #ff9719;
}



@media only screen and (max-width: 600px){
	}


