/*==========================================================/*
 	 			Reset Style Sheet
/*==========================================================*/
html{color:#000;}
body{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,ul{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:#000}

/*==========================================================/*
 	 			Standard Style Sheet
/*==========================================================*/
h1, h2, h3, h4, h5, p{
	font-family: 'DIN-Regular';
	}
h1 span, h2 span, h3 span, h4 span, h5 span{
	font-family: 'DIN-Regular';
	}
h1{
	font-size:36px;
	line-height:30px;
	}

h2{
	font-size:30px;
	line-height:30px;
	}

h3{
	font-size:20px;
	line-height:30px;
	}

h4{
	font-size:16px;
	line-height:30px;
	}
h5{
	font-size:14px;
	line-height:30px;
	}

p{
	line-height:18px;
	}
a{ 
	text-decoration:underline;
	}
a:hover, a.active, input[type="button"]:hover{ 
	text-decoration:none;/*
	opacity:0.9;
	filter:alpha(opacity=90);*/
	}
input{
	/*cursor:pointer;*/
	}
ul#bollut, ul#numbers{
	margin:30px 0;
	padding:0px;
	}
ul#bollut li, ul#numbers li{
	display:block;
    font-family: 'FuturaBT-Book';
	font-size:14px;
	color:#000;
	line-height:18px;
	}
ul#bollut li a, ul#numbers li a{
	text-decoration:underline;
	color:#000000;
}
ul#bollut li{
	list-style-type:circle !important;
}
ul#ul#numbers li{
	list-style-type:circle !important;
}
input:focus, textarea:focus {
    outline: none;
	}
