<div class="col-lg-12">
    <div class="alert alert-block alert-danger fade in hidden" id="error-alert">
        <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="fa fa-times"></i>
        </button>
        <ul ng-if="IsArray(alerts)">
            <li ng-repeat="alert in alerts">{{alert}}</li>
        </ul>
        <span ng-if="!IsArray(alerts)">{{alerts}}</span>
    </div>

</div>
