<style>
    /*  Just for IOS. Do not copy this CSS in android app */
    header.header {padding-top:15px;}
    .modal-dialog {margin-top:30px;}
    /*  Just for IOS. Do not copy this CSS in android app */
</style>
<!--header start-->
<header class="header">
    <a href="javascript:void(0);" class="logo" >Code <span>Line</span></a>
    <!--logo end-->

    <div class="top-nav ">
        <ul class="top-menu nav pull-left">
            <li  class="pull-left">
                <a href="#/films">Films</a>
            </li>
            <li  class="pull-left">
                <a href="#/create-new">Add new film</a>
            </li>

        </ul>
        <ul class="nav pull-right top-menu">
            <!-- <li>
                <input type="text" class="form-control search" placeholder="Search">
            </li>
            user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">
                    <span class="username"> {{ getName()}}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li><a href="#/logout"><i class="fa fa-key"></i> Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<!--header end-->
