<div class="col-md-12 no-pad pag-box">
	<p ng-if="meta.total > 0">Showing {{meta.from}} to {{meta.to}} of {{meta.total}} entries</p>
	<ul ng-if="meta.total > 0" class="pagination">
	    <li ng-class="{'active':meta.current_page == page}" class="" ng-repeat="page in pages">
	        <a href="#/films?page={{page}}">{{ page}}</a>
	    </li>
	</ul>
</div>