<div class="container">
    <form id="login-form" class="form-signin">
        <h2 class="form-signin-heading">sign in now</h2>
        <div ng-include src="'views/includes/alert-template.html'"></div>
        <div class="login-wrap">
            <div ng-include="login.html"></div>
            <input type="email" ng-model="username" class="form-control validate[required,custom[email]]" placeholder="Email" autofocus>
            <input type="password" ng-model="password" class="form-control validate[required]" placeholder="Password">
            <label class="checkbox">

            </label>
            <button class="btn btn-lg btn-login btn-block" ng-click="submit()" type="submit">Sign in</button>
            <div class="registration">
                Don't have an account yet?
                <a class="" href="#/signup">
                    Create an account
                </a>
            </div>
        </div>
    </form>
</div>