<div class="container">    
    <form method="POST" id="singup-form" class="form-signin">
        <h2 class="form-signin-heading">Register</h2>
        <div ng-include src="'views/includes/alert-template.html'"></div>
        <div class="login-wrap">
            <input type="text" ng-model="first_name" class="form-control validate[required]" placeholder="First Name">
            <input type="text" ng-model="last_name" class="form-control validate[required]" placeholder="Last Name">
            <input type="email" ng-model="email" class="form-control validate[required,custom[email]]" placeholder="E-Mail">
            <input type="password" ng-model="password" class="form-control validate[required]" placeholder="Password">
            <input type="password" ng-model="password_confirmation" class="form-control validate[required]" placeholder="Confirm Password">
            <button type="submit" class="btn btn-lg btn-login btn-block" ng-click="signup()">Sign up</button>
            <div class="registration">
                If already registered?
                <a href="#/login" class="">
                    Login
                </a>
            </div>
        </div>
    </form>
</div>